pre {
  > code {
    border: lightgray 1px solid;
    border-radius: 0.2rem;
    display: block;
    font-family: $font-family-mono;
    font-size: 80%;
    margin: 1rem 0;
    overflow-y: hidden;
    padding: 2rem;
    position: relative;
    white-space: pre;

    &[data-title] {
      padding-top: 3rem;
    }

    &::after {
      background-color: $color-secondary;
      color: text-color($color-secondary);
      content: attr(data-title);
      display: inline-block;
      left: 0;
      line-height: 2rem;
      padding: 0 1rem;
      position: absolute;
      top: 0;
    }
  }
}
