.container {
  margin: 0 auto;
  max-width: 126rem;
  padding: 0 2rem;
  position: relative;
  width: 100%;
}

.section {
  padding: 2rem 0;

  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    margin: 1rem 0;
  }
}
