// Float
.is-clearfix {
  *zoom: 1;

  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.is-pulled-left {
  float: left;
}

.is-pulled-right {
  float: right;
}

// Text color
@each $key, $value in $colors {
  &.has-text-#{$key} {
    color: $value !important;
  }
}

// Background color
@each $key, $value in $colors {
  &.has-background-#{$key} {
    background-color: $value !important;
  }
}

// Text alignments
$alignments: (
  'centered': 'center',
  'justified': 'justify',
  'left': 'left',
  'right': 'right'
);

@each $alignment, $text-align in $alignments {
  .has-text-#{$alignment} {
    text-align: #{$text-align} !important;
  }
}
