$font-family: "Segoe UI","Lucida Grande",Verdana,Arial,Helvetica,sans-serif !default;

$text-color-black: rgba(0, 0, 0, 0.7) !default;
$text-color-white: #f4f5f6 !default;

$color-primary: #f05e1c !default;
$color-secondary: #313131 !default;
$color-background: #f4f5f6 !default;
$color-surface: #fff !default;

$custom-colors: () !default;

$colors: map-merge(
  (
    "primary": $color-primary,
    "secondary": $color-secondary,
    "background": $color-background,
    "surface": $color-surface
  ),
  $custom-colors
);
