@import "~html5-reset";

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: $font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  background-color: $color-background;
  color: text-color($color-background);
}
