$font-scale: 1.28;

b,
strong {
  font-weight: bold;
}

small {
  font-weight: $base-font-weight;
  font-size: $base-font-size / $font-scale;
}

// Headings
@for $i from 1 through 6 {
  h#{$i} {
    font-size: $base-font-size * pow($font-scale, (6 - $i));
  }
}

// Lists
ol { list-style: decimal inside; }
ul { list-style: circle inside; }

dl,
ol,
ul {
  margin: 0 1rem;
  padding: 0;

  dl,
  ol,
  ul {
    font-size: 90%;
    padding-left: 2rem;
  }
}

// Blockquote
blockquote {
  border-left: 0.4rem solid $color-primary;
  opacity: 0.8;
  padding: 1rem 2rem;
}

// Code
pre {
  > code {
    border: lightgray 1px solid;
    border-radius: 0.2rem;
    display: block;
    font-family: $font-family-mono;
    font-size: 80%;
    margin: 1rem 0;
    overflow-y: hidden;
    padding: 2rem;
    position: relative;
    white-space: pre;

    &[data-title] {
      padding-top: 3rem;
    }

    &::after {
      background-color: $color-secondary;
      color: text-color($color-secondary);
      content: attr(data-title);
      display: inline-block;
      left: 0;
      line-height: 2rem;
      padding: 0 1rem;
      position: absolute;
      top: 0;
    }
  }
}
